.rainbow-text {
  --bg-size: 300%;
  font-size: clamp(3rem, 22vmin, 8rem);
  color: transparent;
  background-clip: text !important;
  z-index: 5;
}

@media (prefers-reduced-motion: no-preference) {
  .rainbow-text {
    animation: move-bg var(--duration, 8s) linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
